<header class="header">
	<app-menu [menuItems]="menuItems" #firstMenu></app-menu>
</header>


<div id="main">
	
	<div class="content-welcome">
		<div class="row align-items-center m-0 full-height">
			<div class="col">
				<h1 class="text-center text-uppercase title">
					Juntos 
					<small>escapemos de la realidad</small>
				</h1>
				<nav id="navbar2" class="text-center text-uppercase">
					<a *ngIf="showForm" class="nav-link text-white" href="#fat">
						<i class="fa fa-arrow-down" aria-hidden="true"></i>
					</a>
				</nav>
			</div>
		</div>
	</div>

	<app-form-black *ngIf="showForm" data-spy="scroll" data-target="#navbar2" data-offset="0" [nameItem]="nameItem"></app-form-black>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p text-center>
          <strong>Tu información fue enviada con éxito, estaremos en contacto contigo.</strong>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!--Loader-->
<div class="loader">
  <div class="spinner">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>
</div>
<!--End Loader-->

<footer class="footer bg-dark text-white">
	<div class="container">
    <div class="row clearfix">
      <div class="col-md-12 clearfix text-center pt-3">
        <p>@copyright 2018 - Josefina Montilla</p>
      </div>
    </div>
  </div>
</footer>